@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html,
body,
#root {
  font-family: 'Roboto', Arial, sans-serif;
}

body {
  margin: 0;
}

button,
input,
textarea,
select {
  font-family: inherit;
}
